<div class="footer-bar">
  <div class="footer-bar-left">
    <div class="company-info">
      <div class="company-logo">
        <img src="/assets/images/logo-mini.png" alt="" />
      </div>
    </div>
    <div class="company-data">
      <div class="name">
        <a>Akrivia HCM</a>
      </div>
      <div class="copyright">Copyright © 2023 All Rights Reserved.</div>
    </div>
  </div>
  <div class="footer-bar-right">
    <span>Last login on</span
    ><span class="timeline"> 05 Jan, 2023 08:20 PM </span>
  </div>
</div>
