<div class="page-wrapper">
  <app-header></app-header>
  <div class="page-container">
    <div class="page-header">
      <div class="page-heading">
        <div class="page-title">Clients</div>
      </div>
      <div class="page-options">
        <div class="page-options-set">
          <button
            class="btn btn-icon btn-outline-primary btn-xs"
            tabindex="0"
            data-bs-toggle="modal"
            data-bs-target="#addNewModal"
            (click)="clickToAction('add', null)"
          >
            <i class="fa-solid fa-plus"></i> Add New
          </button>
        </div>
      </div>
    </div>
    <div class="table-card">
      <table class="table">
        <thead>
          <tr>
            <!-- <th>#</th> -->
            <th>Client</th>
            <th>Code</th>
            <th>Status</th>
            <th class="table-action"></th>
          </tr>
        </thead>
        <tbody
          [ngStyle]="{
            'max-height': _sharedService.getTableMaxHeight() + 'px'
          }"
        >
          <tr *ngFor="let item of clientData; let i = index">
            <!-- <td>{{i + 1}}</td> -->
            <td>
              {{ item.name }}
              <!-- <div class="icon-text-set">
                                <div class="icon">
                                    <i class="fa-regular fa-user"></i>
                                </div>
                                <div class="text">
                                </div>
                            </div> -->
            </td>
            <td>{{ item.code }}</td>
            <td>
              <span
                class="badge success"
                [ngClass]="{
                  success: item.status == 1,
                  failed: item.status != 1
                }"
                >{{item.status == 1 ? 'Active' : 'Inactive'}}</span
              >
              <!-- <span class="badge failed">Failed</span>
                            <span class="badge pending">Pending</span> -->
            </td>
            <td class="table-action">
              <div class="table-action-dropdown dropdown">
                <a class="" data-bs-toggle="dropdown" aria-expanded="false">
                  <button class="btn btn-tertiary btn-xs btn-toggle">
                    Actions
                  </button>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <ul>
                    <li>
                      <a
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#addNewModal"
                        (click)="clickToAction('update', item)"
                      >
                        Update
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#acdcNewModal"  (click)="clickToAction('acdc', item)"
                      >
                        {{ item.status == 1 ? "Deactivate" : "Activate" }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <div class="pagination-set">
            <div class="pagination-set-results">
              Entries 1 to {{ clientData.length }} out of
              {{ clientData.length }}
            </div>
            <div class="pagination-set-center">
              <!-- <ul class="pagination-stage-set">
                                <li class="pagination-stage-set-item">

                                </li>
                            </ul> -->

              <!-- <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>
        </tfoot>
      </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!--  Add | Update Modal -->
<div
  class="modal fade"
  id="addNewModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addNewModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addNewModal">
          {{ selectedItem ? "Update" : "Add" }} Client
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="clientForm">
          <div class="form-group">
            <label for="client-name" class="form-label field-required"
              >Client name</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Enter Client Name"
              formControlName="client_name"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-tertiary-gray btn-sm"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="addClients()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Activated | Deactivated Modal -->

<div
  class="modal fade"
  id="acdcNewModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="acdcNewModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          {{
            selectedItem && selectedItem.status == 1 ? "Deactivate" : "Activate"
          }}
          Client
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change the status of the client?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-tertiary-gray btn-sm"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="acdcSubmit()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
