<div class="page-container">
  <!-- <div class="page-header">
        <div class="page-heading">
            <div class="page-title"> IP Generation </div>
        </div>
        <div class="page-options">
            <div class="page-options-set">
                <button class="btn btn-icon btn-outline-primary btn-xs" tabindex="0" data-bs-toggle="modal"
                    data-bs-target="#addNewModal">
                    <i class="fa-solid fa-plus"></i> Add New
                </button>
            </div>
        </div>
    </div> -->

  <div class="page-header">
    <div class="page-header-title">
      <a href="" class="page-header-title-icon">
        <i class="fa-solid fa-chevron-left"></i>
      </a>
      <div class="page-title">
        <div class="title">Add User</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form novalidate role="form" autocomplete="off" [formGroup]="addUserForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="id-generation" class="form-label field-required">Generate ID</label>
              <input id="id-generation" type="text" class="form-control" placeholder="Enter ID" name="userId"
                formControlName="userId"
                ngClass="{'is-invalid': addUserForm.controls['userId'].invalid && (addUserForm.controls['userId'].touched || addUserForm.controls['userId'].dirty)}" />
              <div class="invalid-feedback" *ngIf="
                  addUserForm.controls['userId'].invalid &&
                  (addUserForm.controls['userId'].touched ||
                    addUserForm.controls['userId'].dirty)
                ">
                <span *ngIf="addUserForm.controls['userId']?.errors.required">
                  Please provide an ID.
                </span>
                <span *ngIf="addUserForm.controls['userId']?.errors.maxlength">
                  ID should be atleast 2 characters.
                </span>
                <span *ngIf="addUserForm.controls['userId']?.errors.minlength">
                  ID should not be more than 10 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="username" class="form-label field-required">Username</label>
              <input id="username" type="text" class="form-control" placeholder="Enter username" name="userName"
                formControlName="userName"
                ngClass="{'is-invalid': addUserForm.controls['userName'].invalid && (addUserForm.controls['userName'].touched || addUserForm.controls['userName'].dirty)}" />
              <div class="invalid-feedback" *ngIf="
                  addUserForm.controls['userName'].invalid &&
                  (addUserForm.controls['userName'].touched ||
                    addUserForm.controls['userName'].dirty)
                ">
                <span *ngIf="addUserForm.controls['userName']?.errors.required">
                  Username is required.
                </span>
                <span *ngIf="addUserForm.controls['userName']?.errors.maxlength">
                  Username should be atleast 2 characters.
                </span>
                <span *ngIf="addUserForm.controls['userName']?.errors.minlength">
                  Username should not be more than 100 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Generate for" class="form-label field-required">Generate For</label>
                  <div class="radio">
                    <input type="radio" name="generate-for" id="implementor" />
                    <label for="implementor">Implementor</label>
                  </div>
                  <div class="radio">
                    <input type="radio" name="generate-for" id="client" />
                    <label for="client">Client</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngFor="let item of [].constructor(4); let i = index">
            <div class="row border-bottom form-group">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="username" class="form-label field-required">Select Implementor</label>
                  <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                      (click)="onOpenForm('implementors')">
                      {{
                      selectedImplementor
                      ? selectedImplementor
                      : "Select Implementor"
                      }}
                      <div class="clear" (click)="clear(selectedImplementor, $event)" *ngIf="selectedImplementor != ''">
                        <i class="fa-solid fa-times"></i>
                      </div>
                      <div class="clear" (click)="clear(selectedImplementor, $event)" *ngIf="selectedImplementor != ''">
                        <i class="fa-solid fa-times"></i>
                      </div>
                    </a>

                    <div class="dropdown-menu">
                      <ul>
                        <li *ngFor="let item of implementationList; let i = index" [ngClass]="{
                            active: item.itemName == selectedImplementor
                          }">
                          <a class="dropdown-item" (click)="selectImplementor(item)">
                            {{ item.itemName }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                      addUserForm.controls['implementors'].invalid &&
                      (addUserForm.controls['implementors'].touched ||
                        addUserForm.controls['implementors'].dirty)
                    ">
                    <span *ngIf="
                        addUserForm.controls['implementors']?.errors.required
                      ">
                      Implementor is required.
                    </span>
                  </div>
                  <div></div>
                </div>
              </div>
              <!-- Client -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="username" class="form-label field-required">Select Client</label>
                  <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onOpenForm('client')">
                      {{ selectedClient ? selectedClient : "Select Client" }}
                      <div class="clear" (click)="clear('Client', $event)" *ngIf="selectedClient != ''">
                        <i class="fa-solid fa-times"></i>
                      </div>
                    </a>

                    <div class="dropdown-menu">
                      <ul>
                        <li *ngFor="let item of clientsList; let i = index" [ngClass]="{
                            active: item.itemName == selectedClient
                          }">
                          <a class="dropdown-item" (click)="selectClient(item)">
                            {{ item.itemName }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                  addUserForm.controls['client'].invalid &&
                  (addUserForm.controls['client'].touched ||
                    addUserForm.controls['client'].dirty)
                ">
                <span *ngIf="
                    addUserForm.controls['client']?.errors.required
                  ">
                  Client is required.
                </span>
              </div>
                </div>
              </div>
              <!-- Modules -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="username" class="form-label field-required">Select Module</label>
                  <div class="dropdown multi-dropdown">
                    <a type="button" id="multiSelect" data-bs-hover="dropdown" data-bs-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true" class="dropdown-toggle">
                      <div class="multi-selective">
                        <div class="badge-white-filter">
                          <span class="text-truncate multi-select-text">
                            Default </span><a name="filter_badge"><i class="fa-solid fa-times"></i></a>
                        </div>
                      </div>
                    </a>
                    <div aria-labelledby="multiSelect" class="dropdown-menu is-no-scroll">
                      <div class="multi-search">
                        <div class="input-group input-group-both">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-search"></i></span>
                          </div>
                          <input autocomplete="off" type="text" placeholder="Search"
                            class="form-control ng-valid ng-dirty ng-touched" />
                          <div class="input-group-append">
                            <span class="input-group-text"></span>
                          </div>
                        </div>
                      </div>
                      <div class="multi-selection">
                        <div class="checkbox-wrap">
                          <input autocomplete="off" type="checkbox" id="mselect-kjn1x28n9-all"
                            class="ng-untouched ng-valid ng-dirty" /><label for="mselect-kjn1x28n9-all">Unselect
                            All</label>
                        </div>
                      </div>
                      <ul>
                        <li class="dropdown-item" *ngFor="let item of modulesList; let i = index">
                          <div class="checkbox-wrap">
                            <input autocomplete="off" type="checkbox" id="mselect-kjn1x28n9-1" /><label
                              for="mselect-kjn1x28n9-1"><span class="break-word">Default</span></label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                  addUserForm.controls['module'].invalid &&
                  (addUserForm.controls['module'].touched ||
                    addUserForm.controls['module'].dirty)
                ">
                <span *ngIf="
                    addUserForm.controls['module']?.errors.required
                  ">
                  Module is required.
                </span>
              </div>
                </div>
              </div>
              <div class="col-md-12 form-group text-end">
                <button class="btn btn-xs btn-icon btn-tertiary btn-red">
                  Delete
                </button>
                <button class="btn btn-xs btn-icon btn-tertiary">Add</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-tertiary-gray">Cancel</button>
      <button class="btn btn-primary"(click)="checkValidation()">Submit</button>
    </div>
  </div>
</div>