<div class="page-wrapper">
    <app-header></app-header>
    <div class="page-container">
        <!-- <div class="page-header">
            <div class="page-heading">
                <div class="page-title"> IP Generation </div>
            </div>
            <div class="page-options">
                <div class="page-options-set">
                    <button class="btn btn-icon btn-outline-primary btn-sm" tabindex="0" data-bs-toggle="modal"
                        data-bs-target="#addNewModal">
                        <i class="fa-solid fa-plus"></i> Add New
                    </button>
                </div>
            </div>
        </div> -->

        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <a href="" class="card-header-title-back">
                        <i class="far fa-chevron-left"></i>
                        Add Competency
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ip-generation" class="form-label">IP Generation</label>
                            <input type="text" class="form-control" placeholder="Generate IP">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Generate for" class="form-label">Generate For</label>
                            <div class="radio">
                                <input type="radio" name="implementor" id="implementor">
                                <label for="implementor">Implementor</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="client" id="client">
                                <label for="client">Client</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>