span.badge{
    padding: 2px 8px;
    font-size: $text-size-sm;
    font-weight: $font-weight-medium;
    line-height: $line-height-sm;
    border-radius: $border-radius-reg;
    background: $base-gray;
    color: $base-text-600;
    display: inline-block;
    white-space: nowrap;
    &.success{
        color: $base-green-900;
        background: $base-green-100;
    }
    &.failed{
        color: $base-red-900;
        background: $base-red-100;
    }
    &.pending{
        color: $base-orange-900;
        background: $base-orange-100;
    }
}

.badge-white-filter{
    color: $base-text-600;
    padding: 4px 8px;
    font-weight: $font-weight-regular;
    border-width: 1px;
    border-style: solid;
    background: $base-white;
    border-color: $base-gray;
    display: inline-block;
    white-space: nowrap;
    line-height: $line-height-sm;
    border-radius: $border-radius-reg;
}