.table-card{
    background: $base-white;
    border-radius: $border-radius-card;
    padding: 6px 0 0 16px;
    box-shadow: 0 2px 8px #2d2e4f0a;
    &.nodata{
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
}

div.card{
    background: $base-white;
    border-radius: $border-radius-card;
    margin-bottom: 24px;
    border-color: $border-color;
    &-header{
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $base-white;
        border-radius: $border-radius-card $border-radius-card 0 0 !important;
    }
    &-body{
        padding: 24px;
    }
    &-footer{
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: $base-white;
        border-radius: 0 0 $border-radius-card $border-radius-card !important;
        button{
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }
}

// FOLDERS STYLE

.folder-wrap{ 
    &.is-file{
        .folder-item{
            .folder-card{
                height: 170px;
                flex-direction: column;
                padding: 0;
                &:hover{
                    background: $base-white;
                    .folder-card-text{
                        background: $base-gray-100;
                    }
                }
                .folder-card-icon{
                    height: calc(100% - 40px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    margin: 0;
                    i,svg{
                        font-size: 40px;
                    }
                }
                .folder-card-text{
                    height: 40px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 4px 12px;
                    .icon{
                        width: 12px;
                        height: 12px;
                        line-height: 12px;
                        text-align: center;
                        margin-inline-end: 8px;
                        i,svg{
                            // color: $base-text-600;
                            color: $primary-blue-600;
                        }
                    }
                    .text{
                        width: calc(100% - 26px);
                        font-size: $text-size-sm;
                        font-weight: $font-weight-regular;
                        line-height: $line-height-sm;
                        color: $base-text-900;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        word-break: break-all;
                    }
                }
            }
        }
    }
    .folder-item{
        .folder-card{
            border: 1px solid $border-color;
            border-radius: $border-radius-reg;
            background: $base-white;
            // overflow: hidden;
            padding: 12px 16px;
            display: flex;
            align-items: center;
            margin-block-end: 24px;
            position: relative;
            transition: all ease 0.2s;
            cursor: pointer;
            .dropdown-menu{
                top: 95% !important;
                left: 75% !important;
                transform: none !important;
            }
            &:hover{
                background: $base-gray-100;
            }
            &.active{
                .folder-card-icon{
                    i,svg{
                        color: $base-green-900;
                    }
                }
            }
            &.deactive{
                .folder-card-icon{
                    i,svg{
                        color: $base-red-900;
                    }
                }
            }
            &.active-1{
                border-color: $base-green-900;
                // background: $base-green-100;
                .folder-card-icon{
                    i,svg{
                        color: $base-green-900;
                    }
                }
            }
            &-status{
                height: 8px;
                width: 8px;
                position: absolute;
                top: 12px;
                right: 16px;
                background: $base-green-900;
                border-radius: $border-radius-reg;
            }
            &-icon{
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                margin-inline-end: 10px;
                i,svg{
                    color: $primary-blue-600;
                    // color: $base-text-600;
                }
            }
            &-text{
                width: calc(100% - 26px);
                font-size: $text-size-reg;
                font-weight: $font-weight-regular;
                line-height: $line-height-regular;
                color: $base-text-900;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                word-break: break-all;
            }
        }
    }
}