.dropdown {
    &.show {
        .dropdown-toggle{
            &:after{
                transform: rotate(-180deg) !important;
            }
        }
    }
    a.dropdown-toggle {
        position: relative;
        border-width: 1px;
        border-style: solid;
        border-color: #adb2b8;
        width: 100%;
        background: $base-white;
        padding: 12px 40px 12px 10px;
        height: 44px;
        border-radius: $border-radius-reg;
        color: $base-text-600;
        font-family: Poppins, sans-serif;
        font-size: $text-size-reg;
        line-height: $line-height-regular;
        font-weight: $font-weight-regular;
        cursor: pointer;
        transition: .2s all ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:after {
            position: absolute;
            top: 18px;
            right: 10px;
            // content: "\f078";
            // font-family: "Font Awesome 6";
            font-size: $text-size-lg;
            line-height: $line-height-sm;
            transition: all .2s ease;
        }

        &[aria-expanded=true]{
            &:after {
                transform: rotate(-180deg);
            }
        }

        .clear {
            position: absolute;
            right: 20px;
            text-align: center;
            transition: all .3s ease-in-out;
            top: 12px;
            line-height: $line-height-sm;
            color: $base-text-900;
            font-size: $text-size-sm;
            width: 20px;
            height: 20px;
        }
    }

    &-menu {
        width: 100%;
        min-width: 200px;
        border: none;
        box-shadow: 0 6px 4px #2d2e4f1a;
        max-height: 222px;
        overflow-y: auto;
        background: $base-white;
        max-width: 200px;
        &.fixed-width{
            width: 200px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                cursor: pointer;

                &:hover {
                    background: #eeeeee;
                    color: $base-text-900;
                }

                &.active {
                    background: #eeeeee;
                    color: $base-text-900;

                    .dropdown-item {
                        &:after {
                            position: absolute;
                            top: 12px;
                            right: 12px;
                            font-size: 12px;
                            content: "\f00c";
                            font: var(--fa-font-solid);
                            border: none;
                            vertical-align: top;
                            color: #3d76f7;
                            display: inline-block;
                        }
                    }
                }

                .dropdown-item {
                    font-size: $text-size-sm;
                    white-space: inherit;
                    overflow: visible;
                    text-overflow: inherit;
                    word-break: normal;
                    background-color: transparent;
                    border: 0;
                    clear: both;
                    font-weight: 400;
                    color: #212529;
                    text-align: inherit;
                    display: block;
                    width: 100%;
                    cursor: pointer;
                    position: relative;
                    padding: 8px 30px 8px 20px;
            
                    i,
                    svg {
                        margin-inline-end: 10px;
                    }

                    label {
                        display: block;
                    }
                }
            }
        }
    }
    &.sm {
        .dropdown-toggle {
            height: 36px;
            font-size: $text-size-sm;
            font-weight: $font-weight-regular;
            line-height: 16px;
            padding: 10px 40px 10px 10px;

            &:after {
                top: 12px;
            }

            .clear {
                top: 8px;
            }
        }

        .dropdown-menu {
            li {
                .dropdown-item {
                    font-size: $text-size-sm;
                }
            }
        }
    }

    &.multi-dropdown {
        .dropdown-toggle {
            padding: 8px 10px;

            .multi-selective {
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;

                .badge-white-filter {
                    margin-right: 3px;
                    max-width: calc(50% - 20px);
                    .multi-select-text{
                        max-width: calc(100% - 10px);
                        display: inline-block;
                        vertical-align: middle;
                    }
                    a{
                        margin-left: 6px;
                        color: #adb2b8;
                        cursor: pointer;
                    }
                }
            }
        }

        .dropdown-menu {
            &.no-scroll {
                overflow-y: inherit;
                max-height: inherit !important;
            }

            .multi-search {
                padding: 8px 10px;
            }

            .multi-selection {
                border-bottom: 1px solid $base-gray;

                .checkbox-wrap {
                    label {
                        padding: 14px 14px 14px 38px;
                        display: inline-block;

                        &:before {
                            left: 14px;
                            top: 14px;
                        }

                        &:after {
                            left: 14px;
                            top: 14px;
                        }
                    }
                }
            }

            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                height: 200px;
                overflow-y: auto;

                .dropdown-item {
                    font-size: 14px;
                    position: relative;
                    padding: 0;
                    white-space: initial;

                    .checkbox-wrap {
                        label {
                            padding: 14px 14px 14px 38px;
                            display: block;

                            &:before {
                                left: 14px;
                                top: 14px;
                            }

                            &:after {
                                left: 14px;
                                top: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.page-header-dropdown{
        &.active{
            .dropdown-toggle{
                color: $base-text-900;
                font-size: $base-text-700;
                // &:after{
                //     transform: none;
                // }
            }
        }
        .dropdown-toggle{
            width: auto;
            padding: 10px 20px 10px 10px;
            border-radius: $border-radius-lg;
            border: 0;
            font-size: $text-size-lg;
            color: $base-text-600;
            background: transparent;
            &:after{
                position: absolute;
                top: 20px;
                right: 6px;
                font-size: 12px;
                line-height: 12px;
                transition: all 0.2s ease;
                color: $base-text-700;
                transform: rotate(-90deg);
            }
            &:hover{
                background: #ededed;
            }
        }
        .dropdown-menu{
            max-width: initial;
            width: 180px;
            .dropdown-item{
                font-size: $text-size-reg;
                i,svg{
                    width: 14px;
                    text-align: center;
                    margin-inline-end: 10px;
                    color: #6e6e6e;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    left: 0;
                    top: 104%;
                    z-index: 9;
                    display: none;
                    &.active{
                        display: block;
                    }
                }
            }
        }
    }
}