.modal{
    .modal-dialog{
        .modal-content{
            .modal-header{
                padding: 20px 32px;
            }
            .modal-body{
                padding: 20px 32px;
            }
            .modal-footer{
                padding: 12px 32px;
            }
        }
    }
}