.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        tr{
            th{
                color: $base-text-600;
                text-transform: capitalize;
                font-size: $text-size-sm;
                font-weight: $font-weight-regular;
                padding: 16px;
                vertical-align: middle;
                text-align: left;
                white-space: nowrap;
            }
        }
    }
    tbody{
        display: block;
        overflow-y: overlay;
        tr{
            display: table;
            width: 100%;
            table-layout: fixed;
            &:last-child{
                td{
                    border: 0;
                }
            }
            td{
                padding: 16px;
                vertical-align: middle;
            }
        }
    }
    tfoot{
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

.table-action{
    width: 180px;
    text-align: left;
}

.icon-text-set{
    display: flex;
    align-items: center;
    .icon{
        width: 16px;
        height: 16px;
        line-height: $line-height-icon;
        text-align: center;
        margin-inline-end: 10px;
        i,svg{
            font-size: $text-size-reg;
            color: $primary-blue-900;
        }
    }
    .text{
        font-size: $text-size-reg;
        font-weight: $font-weight-medium;
        line-height: $line-height-regular;
        color: $base-text-900;
        width: calc(100% - 26px);
    }
}

.table-col-width{
    width: 240px;
}