// THEME COLORS
$base-bg: #E6EEFF;
$primary-blue-100: #E6EEFF;
$primary-blue-400: #6EA0FF;
$primary-blue-600: #2662FF;
$primary-blue-900: #0536FF;

// FONT COLORS
$base-text-900: #222222;
$base-text-600: #2d2d2d;
$base-text-400: #474747;
$base-text-100: #b0b0b0;

// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 900;

// LINE HEIGHTS
$line-height-sm: 18px;
$line-height-regular: 21px;
$line-height-medium: 24px;
$line-height-large: 27px;
$line-height-xl: 30px;

// BASIC COLORS r
$base-white: #ffffff;

// TEXT SIZES
$text-size-xs: 10px;
$text-size-sm: 12px;
$text-size-reg: 14px;
$text-size-med: 16px;
$text-size-lg: 18px;
$text-size-xl: 20px;
$text-size-xxl: 24px;

// BORDER RADIUS
$border-radius-reg: 6px;
$border-radius-lg: 8px;

// BORDER COLORS
$border-color: #d2d2d2;
$border-color-700: #aeaeae;

// BOX SHADOW
$box-shadow-regular: 0 3px 10px rgb(0 0 0 / 0.2);

// COLORS
$base-red: #d21c1c