// THEME COLORS
$base-bg: #f5f8ff;
$primary-blue-100: #EDF6F9;
$primary-blue-400: #6EA0FF;
$primary-blue-600: #2662FF;
$primary-blue-900: #0536FF;

// FONT COLORS
$base-text-900: #293032;
$base-text-600: #5c6672;
$base-text-400: #474747;
$base-text-700: #515658;
$base-text-100: #b0b0b0;

// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// LINE HEIGHTS
$line-height-sm: 14px;
$line-height-regular: 21px;
$line-height-medium: 24px;
$line-height-large: 27px;
$line-height-xl: 30px;
$line-height-icon: 12px;

// BASIC COLORS r
$base-white: #ffffff;
$base-dark: #000000;
$base-gray: #e8e8e8;
$base-gray-100: #f9f9f9;
$base-green-900: #3f907c;
$base-green-100: #ECF4F2;
$base-orange-900: #ff9f2d;
$base-orange-100: #FEF6EB;
$base-red-900: #d24e63;
$base-red-100: #FBEEF0;

// TEXT SIZES
$text-size-xs: 10px;
$text-size-sm: 12px;
$text-size-reg: 14px;
$text-size-med: 16px;
$text-size-lg: 18px;
$text-size-xl: 20px;
$text-size-xxl: 24px;

// BORDER RADIUS
$border-radius-reg: 6px;
$border-radius-lg: 8px;
$border-radius-card: 14px;

// BORDER COLORS
$border-color: #d2d2d2;
$border-color-700: #aeaeae;

// BOX SHADOW
$box-shadow-regular: 0 3px 10px rgb(0 0 0 / 0.2);
$box-shadow-bottom: inset 0 -1px #2d2e4f1a;

// COLORS
$base-red: #d21c1c;

// COLORS
$screen-width: 1200px;