<!-- <table class="table table-shimmer">
    <thead>
        <tr>    
            <th *ngFor="let row of ' '.repeat(6).split(''); let x = index">
                <div class="shimmer-data"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of ' '.repeat(6).split(''); let x = index">
            <td *ngFor="let column of ' '.repeat(6).split('')">
                <div class="shimmer-data"></div>
            </td>
        </tr>
    </tbody>
</table> -->

<div class="shimmer">
    <i class="fa-solid fa-spinner fa-spin"></i>
    <div class="text">Fetching...</div>
</div>