<div class="header">
    <div class="header-wrap">
        <nav class="nav-bar">
            <a class="nav-bar-logo">
                <div class="nav-bar-logo-img">
                    <img src="../../../assets/images/akrivia_logo2.png" alt="">
                </div>
            </a>
            <div class="nav-bar-right">
                <ul class="nav-bar-right-set">
                    <li class="nav-bar-right-set-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-set">
                                Ad
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="logout">
                                <a class="dropdown-item">
                                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <app-top-menu></app-top-menu>
    </div>
</div>