<div class="page-header">
  <div class="page-heading">
    <div class="page-title">
      <div
        class="dropdown page-header-dropdown"
        [ngClass]="{ active: directoryData.length == 0 }"
      >
        <a
          class="dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          (click)="onModuleClick()"
        >
          Modules
          <!-- <div
            class="clear"
            (click)="clear(selectedOption, $event)"
            *ngIf="selectedOption != ''"
          >
            <i class="fa-solid fa-times"></i>
          </div> -->
          <!-- <div
            class="clear"
            (click)="clear(selectedOption, $event)"
            *ngIf="selectedOption != ''"
          >
            <i class="fa-solid fa-times"></i>
          </div> -->
        </a>

        <div class="dropdown-menu" *ngIf="directoryData.length == 0">
          <ul>
            <li
              *ngFor="let item of optionsList; let i = index"
              [ngClass]="{
                active: item.itemName == selectedOption,
                'has-sub': item?.children?.length
              }"
            >
              <a class="dropdown-item" (click)="selectModuleOption(item)">
                <i class="fa-solid fa-{{ item.icon }}"></i> {{ item.itemName }}
              </a>
              <ul class="sub-dropdown-menu" *ngIf="item?.children?.length">
                <li>
                  <a> Client {{ i + 1 }} </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="page-child-title"
      *ngFor="let item of directoryData; let i = index"
    >
      <div
        class="dropdown page-header-dropdown"
        [ngClass]="{ active: i == directoryData.length - 1 }"
      >
        <a
          class="dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          (click)="onDirectoryClick(item, i)"
        >
          {{ item.name }}
          <!-- <div
            class="clear"
            (click)="clear(selectedOption, $event)"
            *ngIf="selectedOption != ''"
          >
            <i class="fa-solid fa-times"></i>
          </div> -->
          <!-- <div
            class="clear"
            (click)="clear(selectedOption, $event)"
            *ngIf="selectedOption != ''"
          >
            <i class="fa-solid fa-times"></i>
          </div> -->
        </a>

        <div class="dropdown-menu" *ngIf="i == directoryData.length - 1">
          <ul>
            <li
              *ngFor="let abc of optionsList; let i = index"
              [ngClass]="{
                active: abc.itemName == selectedOption
              }"
            >
              <a
                class="dropdown-item"
                (click)="selectDirectoryOption(abc, item)"
              >
                <i class="fa-solid fa-{{ abc.icon }}"></i> {{ abc.itemName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-options">
    <div class="page-options-set">
      <div class="dropdown">
        <a
          class="dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          {{ selectedOption ? selectedOption : "Select Client" }}
          <div
            class="clear"
            (click)="clear(selectedOption, $event)"
            *ngIf="selectedOption != ''"
          >
            <i class="fa-solid fa-times"></i>
          </div>
          <div
            class="clear"
            (click)="clear(selectedOption, $event)"
            *ngIf="selectedOption != ''"
          >
            <i class="fa-solid fa-times"></i>
          </div>
        </a>

        <div class="dropdown-menu fixed-width dropdown-menu-end">
          <ul>
            <li
              *ngFor="let item of optionsList; let i = index"
              [ngClass]="{
                active: item.itemName == selectedOption
              }"
            >
              <a class="dropdown-item" (click)="selectClient(item)">
                {{ item.itemName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="page-options-set">
      <button
        class="btn btn-icon btn-outline-primary btn-sm"
        tabindex="0"
        data-bs-toggle="modal"
        data-bs-target="#addNewModal">
        <i class="fa-solid fa-plus"></i> Add New
      </button>
    </div> -->
  </div>
</div>

<!-- 
    <div class="page-header">
        <div class="page-heading">
          <div class="page-title">
            <span [ngClass]="{ 'cursor-pointer': isFileView }" (click)="isFileView = false">
              Modules
            </span>
            <span class="breadcrumb-set" *ngIf="isFileView">
              <span class="breadcrumb-text">Files</span>
            </span>
          </div>
        </div>
        <div class="page-options">
          <div class="page-options-set">
            <div class="dropdown sm">
              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                (click)="onOpenForm('clients')">
                {{
                selectedOption
                ? selectedOption
                : "Select Client"
                }}
                <div class="clear" (click)="clear(selectedOption, $event)" *ngIf="selectedOption != ''">
                  <i class="fa-solid fa-times"></i>
                </div>
                <div class="clear" (click)="clear(selectedOption, $event)" *ngIf="selectedOption != ''">
                  <i class="fa-solid fa-times"></i>
                </div>
              </a>
  
              <div class="dropdown-menu">
                <ul>
                  <li *ngFor="let item of clientList; let i = index" [ngClass]="{
                      active: item.itemName == selectedOption
                    }">
                    <a class="dropdown-item" (click)="selectClient(item)">
                      {{ item.itemName }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="page-options-set">
            <button class="btn btn-icon btn-outline-primary btn-sm" tabindex="0" data-bs-toggle="modal"
              data-bs-target="#addNewModal" (click)="clickToAction('add', null)">
              <i class="fa-solid fa-plus"></i> Add New
            </button>
          </div>
        </div>
      </div> -->

<!-- Modal -->
<div
  class="modal fade"
  id="commonHeadModel"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="commonHeadModel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commonHeadModel">Add Module</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="moduleForm">
          <div class="form-group">
            <label for="module-name" class="form-label field-required"
              >Module name</label
            >
            <input
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Enter module name"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-tertiary-gray btn-sm"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="addUpdateModules()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- File upload -->
<div
  class="modal fade"
  id="fileUpload"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="commonHeadModel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commonHeadModel">Upload file</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="module-name" class="form-label field-required"
            >Module name</label
          >
          <input
            type="file"
            class="form-control"
            (input)="fileupload($event)"
            [(ngModel)]="fileData"
            placeholder="Enter module name"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-tertiary-gray btn-sm"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <!-- <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="addUpdateModules()"
        >
          Submit
        </button> -->
      </div>
    </div>
  </div>
</div>
