<ng-container *ngIf="modulesData.length != 0 && !spinner">
  <div class="standlone-title">Folders</div>

  <div class="folder-wrap row" *ngIf="modulesData.length">
    <div
      class="folder-item col-md-3"
      *ngFor="let item of modulesData; let i = index"
    >
      <div class="folder-card" (click)="clickToOpen(item)">
        <!-- [ngClass]="{'active': i < 3, 'deactive': i >= 3}" -->
        <div class="folder-card-icon">
          <i class="fa-solid fa-folder"></i>
        </div>
        <div class="folder-card-text">
          {{ item.name }}
        </div>
        <!-- folder-card-status, active-1 -->
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="fileData.length != 0 && !spinner">
  <div class="standlone-title">Files</div>
  <!-- file data -->
  <div class="folder-wrap row is-file">
    <div
      class="folder-item dropdown col-md-2"
      *ngFor="let item of fileData; let i = index"
    >
      <div class="folder-card" data-bs-toggle="dropdown" aria-expanded="false">
        <!-- [ngClass]="{'active': i < 3, 'deactive': i >= 3}" -->
        <div class="folder-card-icon">
          <i class="fa-solid fa-file-alt"></i>
        </div>
        <div class="dropdown-menu" style="height: 85px">
          <ul>
            <li>
              <a class="dropdown-item" (click)="clickOndownload(item)">
                Download
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="modal"
                (click)="clickToDelete(item)"
                data-bs-target="#deletFileModel"
              >
                Delete
              </a>
            </li>
          </ul>
        </div>
        <div class="folder-card-text">
          <div class="icon">
            <i class="fa-solid fa-file-alt"></i>
          </div>
          <div class="text">
            {{ item.file_name }}
          </div>
        </div>
        <!-- folder-card-status, active-1 -->
      </div>
    </div>
  </div>
</ng-container>

<app-shimmers *ngIf="spinner"></app-shimmers>

<app-empty-states
  *ngIf="
    !spinner &&
    ((loginType === '1' && modulesData.length == 0) ||
      (loginType !== '1' && modulesData.length == 0 && fileData.length == 0))
  "
></app-empty-states>

<!-- Modal -->
<div
  class="modal fade"
  id="deletFileModel"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="deletFileModel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          Deleting File
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="!modalSpinner">
        <p>Are you sure you want to delete the file of the folder?</p>
      </div>
      <div class="modal-body" *ngIf="modalSpinner">
        <app-shimmers   contentText="Deleting..." ></app-shimmers>
      </div>
      <div class="modal-footer" *ngIf="!modalSpinner">
        <button
          type="button"
          class="btn btn-tertiary-gray btn-sm"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="deletFileAPI()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
