<ng-container *ngIf="modulesData.length != 0 && !spinner">
  <div class="standlone-title">Folders</div>

  <div class="folder-wrap row" *ngIf="modulesData.length">
    <div
      class="folder-item col-md-3"
      *ngFor="let item of modulesData; let i = index"
    >
      <div class="folder-card" (click)="clickToOpen(item)">
        <!-- [ngClass]="{'active': i < 3, 'deactive': i >= 3}" -->
        <div class="folder-card-icon">
          <i class="fa-solid fa-folder"></i>
        </div>
        <div class="folder-card-text">
          {{ item.name }}
        </div>
        <!-- folder-card-status, active-1 -->
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="fileData.length != 0 && !spinner">
  <div class="standlone-title">Files</div>
  <!-- file data -->
  <div class="folder-wrap row is-file">
    <div
      class="folder-item dropdown col-md-2"
      *ngFor="let item of fileData; let i = index"
    >
      <div class="folder-card"
      data-bs-toggle="dropdown"
      aria-expanded="false">
        <!-- [ngClass]="{'active': i < 3, 'deactive': i >= 3}" -->
        <div
          class="folder-card-icon"
        >
          <i class="fa-solid fa-file-alt"></i>
        </div>
        <div class="dropdown-menu" style="height: 85px">
          <ul>
            <li>
              <a
                class="dropdown-item" (click)="clickOndownload(item)"
              >
                Download
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#acdcNewModal"
              >
                Delete
              </a>
            </li>
          </ul>
        </div>
        <div class="folder-card-text">
          <div class="icon">
            <i class="fa-solid fa-file-alt"></i>
          </div>
          <div class="text">
            {{ item.file_name }}
          </div>
        </div>
        <!-- folder-card-status, active-1 -->
      </div>
    </div>
  </div>
</ng-container>

<app-shimmers *ngIf="spinner"></app-shimmers>

<app-empty-states
  *ngIf="
    !spinner &&
    ((loginType === '1' && modulesData.length == 0) ||
      (loginType !== '1' && modulesData.length == 0 && fileData.length == 0))
  "
></app-empty-states>
